* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #8199bd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
